<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"><h1> E - 17 </h1></ion-title>
    <ion-back-button slot="start"> Regresar </ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-col>
    <ion-row>
      <h1 style=" margin-left: 10px;">1. Disponibilidad y claridad de especificación del producto. (Validar registros de acuerdo a plan de control).</h1>
    </ion-row>
    <h1 style="margin-left: 10px;" >Evidencia de auditoria:</h1>
    <form action="">
     <input  style="margin-left: 10px; height: 150px; width: 500px;" type="text">
    </form>
  </ion-col>
  <ion-col>
    <br><br>
    <ion-item>
      <ion-label><h1> Cumple </h1></ion-label>
      <form action="">
       <ion-checkbox></ion-checkbox>
      </form>
    </ion-item>
  </ion-col>

  <ion-row>
    <ion-label><h1 style="margin-left: 10px;"> Nivel de Cumplimiento: </h1></ion-label>
  </ion-row>
  <br>
  <div style="margin-left: 10px;">
    <ion-label><h1>1- Sin cumplimiento, afectación crítica en calidad. </h1></ion-label>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>2- Con desviaciones mayores, afectación alta en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>3- Con desviaciones menores, afectación baja en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>4- Sin desviaciones, pero con oportunidades de mejora. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>5- Sin desviaciones. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>

  <ion-col>
    <ion-row>
      <h1 style=" margin-left: 10px;">2. Cumplimiento de Liberación primero de la línea.</h1>
    </ion-row>
    <h1 style="margin-left: 10px;" >Evidencia de auditoria:</h1>
    <form action="">
     <input color="light" style="margin-left: 10px; height: 150px; width: 500px;" type="text">
    </form>
  </ion-col>
  <br><br>
  <ion-item>
    <ion-label><h1> Cumple </h1></ion-label>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </ion-item>
  <br> 
  <ion-row>
    <ion-label><h1 style="margin-left: 10px;"> Nivel de Cumplimiento: </h1></ion-label>
  </ion-row>
  <br>
  <div style="margin-left: 10px;">
    <ion-label><h1>1- Sin cumplimiento, afectación crítica en calidad. </h1></ion-label>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>2- Con desviaciones mayores, afectación alta en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>3- Con desviaciones menores, afectación baja en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>4- Sin desviaciones, pero con oportunidades de mejora. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>5- Sin desviaciones. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>

  <ion-col>
    <ion-row>
      <h1 style=" margin-left: 10px;">3. Longitud (mm) (Verificar estabilidad del sistema encoder).</h1>
    </ion-row>
    <h1 style="margin-left: 10px;" >Evidencia de auditoria:</h1>
    <form action="">
     <input color="light" style="margin-left: 10px; height: 150px; width: 500px;" type="text">
    </form>
  </ion-col>
  <br><br>
  <ion-item>
    <ion-label><h1> Cumple </h1></ion-label>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </ion-item>
  <br> 
  <ion-row>
    <ion-label><h1 style="margin-left: 10px;"> Nivel de Cumplimiento: </h1></ion-label>
  </ion-row>
  <br>
  <div style="margin-left: 10px;">
    <ion-label><h1>1- Sin cumplimiento, afectación crítica en calidad. </h1></ion-label>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>2- Con desviaciones mayores, afectación alta en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>3- Con desviaciones menores, afectación baja en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>4- Sin desviaciones, pero con oportunidades de mejora. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>5- Sin desviaciones. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>

  <ion-col>
    <ion-row>
      <h1 style=" margin-left: 10px;">4. Diámetro (mm): Si se dispone, verificar con galga.</h1>
    </ion-row>
    <h1 style="margin-left: 10px;" >Evidencia de auditoria:</h1>
    <form action="">
     <input color="light" style="margin-left: 10px; height: 150px; width: 500px;" type="text">
    </form>
  </ion-col>
  <br><br>
  <ion-item>
    <ion-label><h1> Cumple </h1></ion-label>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </ion-item>
  <br> 
  <ion-row>
    <ion-label><h1 style="margin-left: 10px;"> Nivel de Cumplimiento: </h1></ion-label>
  </ion-row>
  <br>
  <div style="margin-left: 10px;">
    <ion-label><h1>1- Sin cumplimiento, afectación crítica en calidad. </h1></ion-label>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>2- Con desviaciones mayores, afectación alta en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>3- Con desviaciones menores, afectación baja en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>4- Sin desviaciones, pero con oportunidades de mejora. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>5- Sin desviaciones. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <ion-col>
    <ion-row>
      <h1 style=" margin-left: 10px;">5. Pared (mm): Eliminar rebaba y tomar al menos tres muestras.</h1>
    </ion-row>
    <h1 style="margin-left: 10px;" >Evidencia de auditoria:</h1>
    <form action="">
     <input color="light" style="margin-left: 10px; height: 150px; width: 500px;" type="text">
    </form>
  </ion-col>
  <br><br>
  <ion-item>
    <ion-label><h1> Cumple </h1></ion-label>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </ion-item>
  <br> 
  <ion-row>
    <ion-label><h1 style="margin-left: 10px;"> Nivel de Cumplimiento: </h1></ion-label>
  </ion-row>
  <br>
  <div style="margin-left: 10px;">
    <ion-label><h1>1- Sin cumplimiento, afectación crítica en calidad. </h1></ion-label>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>2- Con desviaciones mayores, afectación alta en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>3- Con desviaciones menores, afectación baja en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>4- Sin desviaciones, pero con oportunidades de mejora. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>5- Sin desviaciones. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <ion-col>
    <ion-row>
      <h1 style=" margin-left: 10px;">6. Apariencia (si se aplica lubricante a última cinta, verificar que esté controlada la aplicación).</h1>
    </ion-row>
    <h1 style="margin-left: 10px;" >Evidencia de auditoria:</h1>
    <form action="">
     <input color="light" style="margin-left: 10px; height: 150px; width: 500px;" type="text">
    </form>
  </ion-col>
  <br><br>
  <ion-item>
    <ion-label><h1> Cumple </h1></ion-label>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </ion-item>
  <br> 
  <ion-row>
    <ion-label><h1 style="margin-left: 10px;"> Nivel de Cumplimiento: </h1></ion-label>
  </ion-row>
  <br>
  <div style="margin-left: 10px;">
    <ion-label><h1>1- Sin cumplimiento, afectación crítica en calidad. </h1></ion-label>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>2- Con desviaciones mayores, afectación alta en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>3- Con desviaciones menores, afectación baja en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>4- Sin desviaciones, pero con oportunidades de mejora. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>5- Sin desviaciones. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <ion-col>
    <ion-row>
      <h1 style=" margin-left: 10px;">7. Validar prueba de pegamento. (Revisar adhesión entre cintas de cartón y si aplica parchment) (Énfasis cinta seca).</h1>
    </ion-row>
    <h1 style="margin-left: 10px;" >Evidencia de auditoria:</h1>
    <form action="">
     <input color="light" style="margin-left: 10px; height: 150px; width: 500px;" type="text">
    </form>
  </ion-col>
  <br><br>
  <ion-item>
    <ion-label><h1> Cumple </h1></ion-label>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </ion-item>
  <br> 
  <ion-row>
    <ion-label><h1 style="margin-left: 10px;"> Nivel de Cumplimiento: </h1></ion-label>
  </ion-row>
  <br>
  <div style="margin-left: 10px;">
    <ion-label><h1>1- Sin cumplimiento, afectación crítica en calidad. </h1></ion-label>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>2- Con desviaciones mayores, afectación alta en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>3- Con desviaciones menores, afectación baja en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>4- Sin desviaciones, pero con oportunidades de mejora. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>5- Sin desviaciones. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <ion-col>
    <ion-row>
     <h1 style=" margin-left: 10px;">8. Verificar Materiales montados en máquina   (Revisar crell de acuerdo con construcción   de enrolle).</h1>
    </ion-row>
    <h1 style="margin-left: 10px;" >Evidencia de auditoria:</h1>
    <form action="">
     <input color="light" style="margin-left: 10px; height: 150px; width: 500px;" type="text">
    </form>
  </ion-col>
  <br><br>
  <ion-item>
    <ion-label><h1> Cumple </h1></ion-label>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </ion-item>
  <br> 
  <ion-row>
    <ion-label><h1 style="margin-left: 10px;"> Nivel de Cumplimiento: </h1></ion-label>
  </ion-row>
  <br>
  <div style="margin-left: 10px;">
    <ion-label><h1>1- Sin cumplimiento, afectación crítica en calidad. </h1></ion-label>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>2- Con desviaciones mayores, afectación alta en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>3- Con desviaciones menores, afectación baja en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>4- Sin desviaciones, pero con oportunidades de mejora. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>5- Sin desviaciones. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <ion-col>
    <ion-row>
     <h1 style=" margin-left: 10px;">9. Estado, identificación y vigencia del control de equipos de medición. (Metrología).</h1>
    </ion-row>
    <h1 style="margin-left: 10px;" >Evidencia de auditoria:</h1>
    <form action="">
     <input color="light" style="margin-left: 10px; height: 150px; width: 500px;" type="text">
    </form>
  </ion-col>
  <br><br>
  <ion-item>
    <ion-label><h1> Cumple </h1></ion-label>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </ion-item>
  <br> 
  <ion-row>
    <ion-label><h1 style="margin-left: 10px;"> Nivel de Cumplimiento: </h1></ion-label>
  </ion-row>
  <br>
  <div style="margin-left: 10px;">
    <ion-label><h1>1- Sin cumplimiento, afectación crítica en calidad. </h1></ion-label>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>2- Con desviaciones mayores, afectación alta en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>3- Con desviaciones menores, afectación baja en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>4- Sin desviaciones, pero con oportunidades de mejora. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>5- Sin desviaciones. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <ion-col>
    <ion-row>
      <h1 style=" margin-left: 10px;">10. Verificar corte del tubo con sierra o cuchilla.(Revisar que no quede rebaba o banderas).</h1>
    </ion-row>
    <h1 style="margin-left: 10px;" >Evidencia de auditoria:</h1>
    <form action="">
     <input color="light" style="margin-left: 10px; height: 150px; width: 500px;" type="text">
    </form>
  </ion-col>
  <br><br>
  <ion-item>
    <ion-label><h1> Cumple </h1></ion-label>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </ion-item>
  <br> 
  <ion-row>
    <ion-label><h1 style="margin-left: 10px;"> Nivel de Cumplimiento: </h1></ion-label>
  </ion-row>
  <br>
  <div style="margin-left: 10px;">
    <ion-label><h1>1- Sin cumplimiento, afectación crítica en calidad. </h1></ion-label>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>2- Con desviaciones mayores, afectación alta en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>3- Con desviaciones menores, afectación baja en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>4- Sin desviaciones, pero con oportunidades de mejora. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>5- Sin desviaciones. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <ion-col>
    <ion-row>
     <h1 style=" margin-left: 10px;">11. Verificar tipo de acabado: skayver: sin protuberancias gap: de acuerdo con cuadro de atributos).</h1>
    </ion-row>
    <h1 style="margin-left: 10px;" >Evidencia de auditoria:</h1>
    <form action="">
     <input color="light" style="margin-left: 10px; height: 150px; width: 500px;" type="text">
    </form>
  </ion-col>
  <br><br>
  <ion-item>
    <ion-label><h1> Cumple </h1></ion-label>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </ion-item>
  <br> 
  <ion-row>
    <ion-label><h1 style="margin-left: 10px;"> Nivel de Cumplimiento: </h1></ion-label>
  </ion-row>
  <br>
  <div style="margin-left: 10px;">
    <ion-label><h1>1- Sin cumplimiento, afectación crítica en calidad. </h1></ion-label>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>2- Con desviaciones mayores, afectación alta en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>3- Con desviaciones menores, afectación baja en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>4- Sin desviaciones, pero con oportunidades de mejora. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>5- Sin desviaciones. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <ion-col>
    <ion-row>
     <h1 style=" margin-left: 10px;">12. Verificar la impresión del tubo: 
      (Sello del cliente: bien definido sin manchas.
      Número de lote: que corresponda al día 
      calendario.</h1>
    </ion-row>
    <h1 style="margin-left: 10px;" >Evidencia de auditoria:</h1>
    <form action="">
     <input color="light" style="margin-left: 10px; height: 150px; width: 500px;" type="text">
    </form>
  </ion-col>
  <br><br>
  <ion-item>
    <ion-label><h1> Cumple </h1></ion-label>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </ion-item>
  <br> 
  <ion-row>
    <ion-label><h1 style="margin-left: 10px;"> Nivel de Cumplimiento: </h1></ion-label>
  </ion-row>
  <br>
  <div style="margin-left: 10px;">
    <ion-label><h1>1- Sin cumplimiento, afectación crítica en calidad. </h1></ion-label>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>2- Con desviaciones mayores, afectación alta en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>3- Con desviaciones menores, afectación baja en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>4- Sin desviaciones, pero con oportunidades de mejora. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>5- Sin desviaciones. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <br><br>

  <h1 style="margin-left: 10px;" >Observaciones Finales:</h1>
  <form action="">
   <input color="light" style="margin-left: 10px; height: 150px; width: 500px;" type="text">
  </form>
  <br><br>

</ion-content>
