<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"><h1> Adhesivos </h1></ion-title>
    <ion-back-button slot="start"> Regresar </ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-col>
    <ion-row>
      <h1 style=" margin-left: 10px;">1. Vigencia y disponibilidad de especificación del producto en proceso.</h1>
    </ion-row>
    <h1 style="margin-left: 10px;" >Evidencia de auditoria:</h1>
    <form action="">
     <input  style="margin-left: 10px; height: 150px; width: 500px;" type="text">
    </form>
  </ion-col>
  <ion-col>
    <br><br>
    <ion-item>
      <ion-label><h1> Cumple </h1></ion-label>
      <form action="">
       <ion-checkbox></ion-checkbox>
      </form>
    </ion-item>
  </ion-col>

  <ion-row>
    <ion-label><h1 style="margin-left: 10px;"> Nivel de Cumplimiento: </h1></ion-label>
  </ion-row>
  <br>
  <div style="margin-left: 10px;">
    <ion-label><h1>1- Sin cumplimiento, afectación crítica en calidad. </h1></ion-label>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>2- Con desviaciones mayores, afectación alta en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>3- Con desviaciones menores, afectación baja en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>4- Sin desviaciones, pero con oportunidades de mejora. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>5- Sin desviaciones. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>

  <ion-col>
    <ion-row>
      <h1 style=" margin-left: 10px;">2. Estado, identificación y vigencia del control de equipos de medición. (Metrología).</h1>
    </ion-row>
    <h1 style="margin-left: 10px;" >Evidencia de auditoria:</h1>
    <form action="">
     <input color="light" style="margin-left: 10px; height: 150px; width: 500px;" type="text">
    </form> 
  </ion-col>
  <br><br>
  <ion-item>
    <ion-label><h1> Cumple </h1></ion-label>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </ion-item>
  <br> 
  <ion-row>
    <ion-label><h1 style="margin-left: 10px;"> Nivel de Cumplimiento: </h1></ion-label>
  </ion-row>
  <br>
  <div style="margin-left: 10px;">
    <ion-label><h1>1- Sin cumplimiento, afectación crítica en calidad. </h1></ion-label>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>2- Con desviaciones mayores, afectación alta en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>3- Con desviaciones menores, afectación baja en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>4- Sin desviaciones, pero con oportunidades de mejora. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>5- Sin desviaciones. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>

  <ion-col>
    <ion-row>
      <h1 style=" margin-left: 10px;">3. Validación prueba de viscosidad, sólidos y PH. </h1>
    </ion-row>
    <h1 style="margin-left: 10px;" >Evidencia de auditoria:</h1>
    <br>
    <div>
      <ion-label><h1 style="margin-left: 10px;"> Viscosidad: </h1></ion-label>
      <form action="">
       <input type="number" placeholder="Digite el valor" color="light" style="margin-top: 10px; height: 40px; margin-left: 10px; width: 500px;" type="text">
      </form>
    </div>
    <br>
  <div>
    <ion-label><h1 style="margin-left: 10px;"> %Solidos: </h1></ion-label>
    <form action="">
     <input type="number" placeholder="Digite el valor" color="light" style="margin-top: 10px; height: 40px; margin-left: 10px; width: 500px;" type="text">
    </form>
  </div>
  <br>
  <div>
    <ion-label><h1 style="margin-left: 10px;"> PH: </h1></ion-label>
    <form action="">
     <input type="number" placeholder="Digite el valor" color="light" style="margin-top: 10px; height: 40px; margin-left: 10px; width: 500px;" type="text">
    </form>
  </div>
  </ion-col>
  <br><br>
  <ion-item>
    <ion-label><h1> Cumple </h1></ion-label>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </ion-item>
  <br> 
  <ion-row>
    <ion-label><h1 style="margin-left: 10px;"> Nivel de Cumplimiento: </h1></ion-label>
  </ion-row>
  <br>
  <div style="margin-left: 10px;">
    <ion-label><h1>1- Sin cumplimiento, afectación crítica en calidad. </h1></ion-label>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>2- Con desviaciones mayores, afectación alta en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>3- Con desviaciones menores, afectación baja en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>4- Sin desviaciones, pero con oportunidades de mejora. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>5- Sin desviaciones. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>

  <ion-col>
    <ion-row>
      <h1 style=" margin-left: 10px;">4. Validación de fórmula aplicada al adhesivo. Revisar manejo de dosificación de fórmula, peso Vs volumen, claridad de concepto de densidad.</h1>
    </ion-row>
    <h1 style="margin-left: 10px;" >Evidencia de auditoria:</h1>
    <form action="">
     <input color="light" style="margin-left: 10px; height: 150px; width: 500px;" type="text">
    </form>
  </ion-col>
  <br><br>
  <ion-item>
    <ion-label><h1> Cumple </h1></ion-label>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </ion-item>
  <br> 
  <ion-row>
    <ion-label><h1 style="margin-left: 10px;"> Nivel de Cumplimiento: </h1></ion-label>
  </ion-row>
  <br>
  <div style="margin-left: 10px;">
    <ion-label><h1>1- Sin cumplimiento, afectación crítica en calidad. </h1></ion-label>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>2- Con desviaciones mayores, afectación alta en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>3- Con desviaciones menores, afectación baja en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>4- Sin desviaciones, pero con oportunidades de mejora. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>5- Sin desviaciones. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <ion-col>
    <ion-row>
      <h1 style=" margin-left: 10px;">5. Registro control de calidad adhesivos. Verificar que se esté llevando oportunamente el registro del bache en producción.</h1>
    </ion-row>
    <h1 style="margin-left: 10px;" >Evidencia de auditoria:</h1>
    <form action="">
     <input color="light" style="margin-left: 10px; height: 150px; width: 500px;" type="text">
    </form>
  </ion-col>
  <br><br>
  <ion-item>
    <ion-label><h1> Cumple </h1></ion-label>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </ion-item>
  <br> 
  <ion-row>
    <ion-label><h1 style="margin-left: 10px;"> Nivel de Cumplimiento: </h1></ion-label>
  </ion-row>
  <br>
  <div style="margin-left: 10px;">
    <ion-label><h1>1- Sin cumplimiento, afectación crítica en calidad. </h1></ion-label>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>2- Con desviaciones mayores, afectación alta en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>3- Con desviaciones menores, afectación baja en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>4- Sin desviaciones, pero con oportunidades de mejora. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>5- Sin desviaciones. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <ion-col>
    <ion-row>
      <h1 style=" margin-left: 10px;">6. Almacenamiento e Identificación del producto.</h1>
    </ion-row>
    <h1 style="margin-left: 10px;" >Evidencia de auditoria:</h1>
    <form action="">
     <input color="light" style="margin-left: 10px; height: 150px; width: 500px;" type="text">
    </form>
  </ion-col>
  <br><br>
  <ion-item>
    <ion-label><h1> Cumple </h1></ion-label>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </ion-item>
  <br> 
  <ion-row>
    <ion-label><h1 style="margin-left: 10px;"> Nivel de Cumplimiento: </h1></ion-label>
  </ion-row>
  <br>
  <div style="margin-left: 10px;">
    <ion-label><h1>1- Sin cumplimiento, afectación crítica en calidad. </h1></ion-label>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>2- Con desviaciones mayores, afectación alta en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>3- Con desviaciones menores, afectación baja en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>4- Sin desviaciones, pero con oportunidades de mejora. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>5- Sin desviaciones. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>

  <h1 style="margin-left: 10px;" >Observaciones Finales:</h1>
  <form action="">
   <input color="light" style="margin-left: 10px; height: 150px; width: 500px;" type="text">
  </form>
  <br><br>

</ion-content>
