<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"> ICD </ion-title>
   <ion-back-button slot="start"> Regresar </ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid  style="display: flex; justify-content: center;">
    <ion-row>
      <ion-col>
        <ion-button routerLink="/adhesivos" size="large" class="ion-align-self-center"> Adhesivos </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid  style="display: flex; justify-content: center;">
    <ion-row>
      <ion-col>
        <ion-button routerLink="/e-siete"  size="large" class="ion-align-self-center"> E - 17 </ion-button>
        <ion-button routerLink="/e-ocho" size="large" class="ion-align-self-center"> E - 8 </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid  style="display: flex; justify-content: center;">
    <ion-row>
      <ion-col>
        <ion-button routerLink="/auditoria-general-groover" size="large" class="ion-align-self-center"> Auditoria General Groover </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid  style="display: flex; justify-content: center;">
    <ion-row>
      <ion-col>
        <ion-button routerLink="/groover-dos" size="large" class="ion-align-self-center"> Groover # 2 </ion-button>
        <ion-button routerLink="/groover-tres" size="large" class="ion-align-self-center"> Groover # 3 </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid  style="display: flex; justify-content: center;">
    <ion-row>
      <ion-col>
        <ion-button routerLink="/esquineros" size="large" class="ion-align-self-center"> Esquineros </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid  style="display: flex; justify-content: center;">
    <ion-row>
      <ion-col>
        <ion-button routerLink="/despacho" size="large" class="ion-align-self-center"> Despacho </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
