<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"><h1> Despacho </h1></ion-title>
    <ion-back-button slot="start"> Regresar </ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-col>
    <ion-row>
      <h1 style=" margin-left: 10px;">1. Verificación condiciones del empaque. Validar condiciones de empaque suelto, sunchado, en bolsa, en caja.</h1>
    </ion-row>
    <h1 style="margin-left: 10px;" >Evidencia de auditoria:</h1>
    <form action="">
     <input  style="margin-left: 10px; height: 150px; width: 500px;" type="text">
    </form>
  </ion-col>
  <ion-col>
    <br><br>
    <ion-item>
      <ion-label><h1> Cumple </h1></ion-label>
      <form action="">
       <ion-checkbox></ion-checkbox>
      </form>
    </ion-item>
  </ion-col>

  <ion-row>
    <ion-label><h1 style="margin-left: 10px;"> Nivel de Cumplimiento: </h1></ion-label>
  </ion-row>
  <br>
  <div style="margin-left: 10px;">
    <ion-label><h1>1- Sin cumplimiento, afectación crítica en calidad. </h1></ion-label>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>2- Con desviaciones mayores, afectación alta en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>3- Con desviaciones menores, afectación baja en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>4- Sin desviaciones, pero con oportunidades de mejora. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>5- Sin desviaciones. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>

  <ion-col>
    <ion-row>
      <h1 style=" margin-left: 10px;">2. Verificación de cumplimiento buenas condiciones del vehículo de transporte. Validar carrocería, espacio de cargue, hermeticidad, piso, estado de carpa si aplica.</h1>
    </ion-row>
    <h1 style="margin-left: 10px;" >Evidencia de auditoria:</h1>
    <form action="">
     <input color="light" style="margin-left: 10px; height: 150px; width: 500px;" type="text">
    </form>
  </ion-col>
  <br><br>
  <ion-item>
    <ion-label><h1> Cumple </h1></ion-label>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </ion-item>
  <br> 
  <ion-row>
    <ion-label><h1 style="margin-left: 10px;"> Nivel de Cumplimiento: </h1></ion-label>
  </ion-row>
  <br>
  <div style="margin-left: 10px;">
    <ion-label><h1>1- Sin cumplimiento, afectación crítica en calidad. </h1></ion-label>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>2- Con desviaciones mayores, afectación alta en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>3- Con desviaciones menores, afectación baja en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>4- Sin desviaciones, pero con oportunidades de mejora. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>5- Sin desviaciones. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>

  <ion-col>
    <ion-row>
      <h1 style=" margin-left: 10px;">3. Verificación de identificación del producto a despachar. Cantidad y lote de acuerdo con la Orden de Venta.</h1>
    </ion-row>
    <h1 style="margin-left: 10px;" >Evidencia de auditoria:</h1>
    <form action="">
     <input color="light" style="margin-left: 10px; height: 150px; width: 500px;" type="text">
    </form>
  </ion-col>
  <br><br>
  <ion-item>
    <ion-label><h1> Cumple </h1></ion-label>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </ion-item>
  <br> 
  <ion-row>
    <ion-label><h1 style="margin-left: 10px;"> Nivel de Cumplimiento: </h1></ion-label>
  </ion-row>
  <br>
  <div style="margin-left: 10px;">
    <ion-label><h1>1- Sin cumplimiento, afectación crítica en calidad. </h1></ion-label>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>2- Con desviaciones mayores, afectación alta en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>3- Con desviaciones menores, afectación baja en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>4- Sin desviaciones, pero con oportunidades de mejora. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>5- Sin desviaciones. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>

  <ion-col>
    <ion-row>
      <h1 style=" margin-left: 10px;">4. Condiciones de ambiente e infraestructura que afecten la calidad. Verificar que áreas definidas de almacenamiento se encuentren en buenas condiciones.
        </h1>
    </ion-row>
    <h1 style="margin-left: 10px;" >Evidencia de auditoria:</h1>
    <form action="">
     <input color="light" style="margin-left: 10px; height: 150px; width: 500px;" type="text">
    </form>
  </ion-col>
  <br><br>
  <ion-item>
    <ion-label><h1> Cumple </h1></ion-label>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </ion-item>
  <br> 
  <ion-row>
    <ion-label><h1 style="margin-left: 10px;"> Nivel de Cumplimiento: </h1></ion-label>
  </ion-row>
  <br>
  <div style="margin-left: 10px;">
    <ion-label><h1>1- Sin cumplimiento, afectación crítica en calidad. </h1></ion-label>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>2- Con desviaciones mayores, afectación alta en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>3- Con desviaciones menores, afectación baja en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>4- Sin desviaciones, pero con oportunidades de mejora. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>5- Sin desviaciones. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <ion-col>
    <ion-row>
      <h1 style=" margin-left: 10px;">5. Condiciones de almacenamiento y manipulación del producto que afectan calidad del producto. Verificar que no se arrume a mayor nivel de lo establecido, y buenas prácticas de manipulación en cargue.</h1>
    </ion-row>
    <h1 style="margin-left: 10px;" >Evidencia de auditoria:</h1>
    <form action="">
     <input color="light" style="margin-left: 10px; height: 150px; width: 500px;" type="text">
    </form>
  </ion-col>
  <br><br>
  <ion-item>
    <ion-label><h1> Cumple </h1></ion-label>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </ion-item>
  <br> 
  <ion-row>
    <ion-label><h1 style="margin-left: 10px;"> Nivel de Cumplimiento: </h1></ion-label>
  </ion-row>
  <br>
  <div style="margin-left: 10px;">
    <ion-label><h1>1- Sin cumplimiento, afectación crítica en calidad. </h1></ion-label>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>2- Con desviaciones mayores, afectación alta en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>3- Con desviaciones menores, afectación baja en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>4- Sin desviaciones, pero con oportunidades de mejora. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>5- Sin desviaciones. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <ion-col>
    <ion-row>
      <h1 style=" margin-left: 10px;">6. Verificar si el producto ha sido liberado por calidad. Revisar el certificado de calidad del producto auditado.</h1>
    </ion-row>
    <h1 style="margin-left: 10px;" >Evidencia de auditoria:</h1>
    <form action="">
     <input color="light" style="margin-left: 10px; height: 150px; width: 500px;" type="text">
    </form>
  </ion-col>
  <br><br>
  <ion-item>
    <ion-label><h1> Cumple </h1></ion-label>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </ion-item>
  <br> 
  <ion-row>
    <ion-label><h1 style="margin-left: 10px;"> Nivel de Cumplimiento: </h1></ion-label>
  </ion-row>
  <br>
  <div style="margin-left: 10px;">
    <ion-label><h1>1- Sin cumplimiento, afectación crítica en calidad. </h1></ion-label>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>2- Con desviaciones mayores, afectación alta en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>3- Con desviaciones menores, afectación baja en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>4- Sin desviaciones, pero con oportunidades de mejora. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>5- Sin desviaciones. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  
  <h1 style="margin-left: 10px;" >Observaciones Finales:</h1>
  <form action="">
   <input color="light" style="margin-left: 10px; height: 150px; width: 500px;" type="text">
  </form>
  <br><br>

</ion-content>
