<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"><h1>Terminado</h1></ion-title>
    <ion-back-button slot="start"> Regresar </ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-col>
    <ion-row>
      <h2 style=" margin-left: 10px;">1. El sistema de  cuchillas que estan en 
        uso tienen el desplazamiento normal.</h2>
    </ion-row>
    <h1 style="margin-left: 10px;" >Evidencia de auditoria:</h1>
    <form action="">
     <input  style="margin-left: 10px; height: 150px; width: 500px;" type="text">
    </form>
  </ion-col>
  <ion-col>
    <br><br>
    <ion-item>
      <ion-label><h1> Cumple </h1></ion-label>
      <form action="">
       <ion-checkbox></ion-checkbox>
      </form>
    </ion-item>
  </ion-col>

  <ion-row>
    <ion-label><h1 style="margin-left: 10px;"> Nivel de Cumplimiento: </h1></ion-label>
  </ion-row>
  <br>
  <div style="margin-left: 10px;">
    <ion-label><h1>1- Sin cumplimiento, afectación crítica en calidad. </h1></ion-label>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>2- Con desviaciones mayores, afectación alta en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>3- Con desviaciones menores, afectación baja en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>4- Sin desviaciones, pero con oportunidades de mejora. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>5- Sin desviaciones. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>

  <ion-col>
    <ion-row>
      <h1 style=" margin-left: 10px;">2. Las bases del sistema de cuchillas estan firmes.</h1>
    </ion-row>
    <h1 style="margin-left: 10px;" >Evidencia de auditoria:</h1>
    <form action="">
     <input color="light" style="margin-left: 10px; height: 150px; width: 500px;" type="text">
    </form>
  </ion-col>
  <br><br>
  <ion-item>
    <ion-label><h1> Cumple </h1></ion-label>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </ion-item>
  <br> 
  <ion-row>
    <ion-label><h1 style="margin-left: 10px;"> Nivel de Cumplimiento: </h1></ion-label>
  </ion-row>
  <br>
  <div style="margin-left: 10px;">
    <ion-label><h1>1- Sin cumplimiento, afectación crítica en calidad. </h1></ion-label>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>2- Con desviaciones mayores, afectación alta en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>3- Con desviaciones menores, afectación baja en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>4- Sin desviaciones, pero con oportunidades de mejora. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>5- Sin desviaciones. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>

  <ion-col>
    <ion-row>
      <h1 style=" margin-left: 10px;">3. Los anillos están en buen estado y están dando un buen corte.</h1>
    </ion-row>
    <h1 style="margin-left: 10px;" >Evidencia de auditoria:</h1>
    <form action="">
     <input color="light" style="margin-left: 10px; height: 150px; width: 500px;" type="text">
    </form>
  </ion-col>
  <br><br>
  <ion-item>
    <ion-label><h1> Cumple </h1></ion-label>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </ion-item>
  <br> 
  <ion-row>
    <ion-label><h1 style="margin-left: 10px;"> Nivel de Cumplimiento: </h1></ion-label>
  </ion-row>
  <br>
  <div style="margin-left: 10px;">
    <ion-label><h1>1- Sin cumplimiento, afectación crítica en calidad. </h1></ion-label>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>2- Con desviaciones mayores, afectación alta en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>3- Con desviaciones menores, afectación baja en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>4- Sin desviaciones, pero con oportunidades de mejora. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>5- Sin desviaciones. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>

  <ion-col>
    <ion-row>
      <h1 style=" margin-left: 10px;">4. El sistema de corte de cuchillas está libre de fugas de presión de aire.</h1>
    </ion-row>
    <h1 style="margin-left: 10px;" >Evidencia de auditoria:</h1>
    <form action="">
     <input color="light" style="margin-left: 10px; height: 150px; width: 500px;" type="text">
    </form>
  </ion-col>
  <br><br>
  <ion-item>
    <ion-label><h1> Cumple </h1></ion-label>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </ion-item>
  <br> 
  <ion-row>
    <ion-label><h1 style="margin-left: 10px;"> Nivel de Cumplimiento: </h1></ion-label>
  </ion-row>
  <br>
  <div style="margin-left: 10px;">
    <ion-label><h1>1- Sin cumplimiento, afectación crítica en calidad. </h1></ion-label>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>2- Con desviaciones mayores, afectación alta en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>3- Con desviaciones menores, afectación baja en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>4- Sin desviaciones, pero con oportunidades de mejora. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>5- Sin desviaciones. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <ion-col>
    <ion-row>
      <h1 style=" margin-left: 10px;">5. Las cintas y/o rollos del set que está en proceso tienen la medida de ancho correcta de acuerdo al programa (se debe realizar la medición).</h1>
    </ion-row>
    <h1 style="margin-left: 10px;" >Evidencia de auditoria:</h1>
    <form action="">
     <input color="light" style="margin-left: 10px; height: 150px; width: 500px;" type="text">
    </form>
  </ion-col>
  <br><br>
  <ion-item>
    <ion-label><h1> Cumple </h1></ion-label>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </ion-item>
  <br> 
  <ion-row>
    <ion-label><h1 style="margin-left: 10px;"> Nivel de Cumplimiento: </h1></ion-label>
  </ion-row>
  <br>
  <div style="margin-left: 10px;">
    <ion-label><h1>1- Sin cumplimiento, afectación crítica en calidad. </h1></ion-label>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>2- Con desviaciones mayores, afectación alta en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>3- Con desviaciones menores, afectación baja en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>4- Sin desviaciones, pero con oportunidades de mejora. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>5- Sin desviaciones. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <ion-col>
    <ion-row>
      <h1 style=" margin-left: 10px;">6. Diámetro de la cinta y/o rollo es el correcto de acuerdo con la lista de cliente en la ficha de embalaje.</h1>
    </ion-row>
    <h1 style="margin-left: 10px;" >Evidencia de auditoria:</h1>
    <form action="">
     <input color="light" style="margin-left: 10px; height: 150px; width: 500px;" type="text">
    </form>
  </ion-col>
  <br><br>
  <ion-item>
    <ion-label><h1> Cumple </h1></ion-label>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </ion-item>
  <br> 
  <ion-row>
    <ion-label><h1 style="margin-left: 10px;"> Nivel de Cumplimiento: </h1></ion-label>
  </ion-row>
  <br>
  <div style="margin-left: 10px;">
    <ion-label><h1>1- Sin cumplimiento, afectación crítica en calidad. </h1></ion-label>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>2- Con desviaciones mayores, afectación alta en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>3- Con desviaciones menores, afectación baja en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>4- Sin desviaciones, pero con oportunidades de mejora. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>5- Sin desviaciones. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <ion-col>
    <ion-row>
      <h1 style=" margin-left: 10px;">7. Los cores están bien posicionados: no salidos, no sueltos ni flojos.</h1>
    </ion-row>
    <h1 style="margin-left: 10px;" >Evidencia de auditoria:</h1>
    <form action="">
     <input color="light" style="margin-left: 10px; height: 150px; width: 500px;" type="text">
    </form>
  </ion-col>
  <br><br>
  <ion-item>
    <ion-label><h1> Cumple </h1></ion-label>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </ion-item>
  <br> 
  <ion-row>
    <ion-label><h1 style="margin-left: 10px;"> Nivel de Cumplimiento: </h1></ion-label>
  </ion-row>
  <br>
  <div style="margin-left: 10px;">
    <ion-label><h1>1- Sin cumplimiento, afectación crítica en calidad. </h1></ion-label>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>2- Con desviaciones mayores, afectación alta en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>3- Con desviaciones menores, afectación baja en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>4- Sin desviaciones, pero con oportunidades de mejora. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>5- Sin desviaciones. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <ion-col>
    <ion-row>
     <h1 style=" margin-left: 10px;">8. Los cores tienen correcta la medida y la pared.</h1>
    </ion-row>
    <h1 style="margin-left: 10px;" >Evidencia de auditoria:</h1>
    <form action="">
     <input color="light" style="margin-left: 10px; height: 150px; width: 500px;" type="text">
    </form>
  </ion-col>
  <br><br>
  <ion-item>
    <ion-label><h1> Cumple </h1></ion-label>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </ion-item>
  <br> 
  <ion-row>
    <ion-label><h1 style="margin-left: 10px;"> Nivel de Cumplimiento: </h1></ion-label>
  </ion-row>
  <br>
  <div style="margin-left: 10px;">
    <ion-label><h1>1- Sin cumplimiento, afectación crítica en calidad. </h1></ion-label>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>2- Con desviaciones mayores, afectación alta en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>3- Con desviaciones menores, afectación baja en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>4- Sin desviaciones, pero con oportunidades de mejora. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>5- Sin desviaciones. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <ion-col>
    <ion-row>
     <h1 style=" margin-left: 10px;">9. En el reporte de producción se encuentra revisado mínimo 1 set por reel en F-QM-PC.006.05.</h1>
    </ion-row>
    <h1 style="margin-left: 10px;" >Evidencia de auditoria:</h1>
    <form action="">
     <input color="light" style="margin-left: 10px; height: 150px; width: 500px;" type="text">
    </form>
  </ion-col>
  <br><br>
  <ion-item>
    <ion-label><h1> Cumple </h1></ion-label>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </ion-item>
  <br> 
  <ion-row>
    <ion-label><h1 style="margin-left: 10px;"> Nivel de Cumplimiento: </h1></ion-label>
  </ion-row>
  <br>
  <div style="margin-left: 10px;">
    <ion-label><h1>1- Sin cumplimiento, afectación crítica en calidad. </h1></ion-label>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>2- Con desviaciones mayores, afectación alta en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>3- Con desviaciones menores, afectación baja en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>4- Sin desviaciones, pero con oportunidades de mejora. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>5- Sin desviaciones. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <ion-col>
    <ion-row>
      <h1 style=" margin-left: 10px;">10. La cinta adhesiva doble faz está pegando bien al cartón.</h1>
    </ion-row>
    <h1 style="margin-left: 10px;" >Evidencia de auditoria:</h1>
    <form action="">
     <input color="light" style="margin-left: 10px; height: 150px; width: 500px;" type="text">
    </form>
  </ion-col>
  <br><br>
  <ion-item>
    <ion-label><h1> Cumple </h1></ion-label>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </ion-item>
  <br> 
  <ion-row>
    <ion-label><h1 style="margin-left: 10px;"> Nivel de Cumplimiento: </h1></ion-label>
  </ion-row>
  <br>
  <div style="margin-left: 10px;">
    <ion-label><h1>1- Sin cumplimiento, afectación crítica en calidad. </h1></ion-label>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>2- Con desviaciones mayores, afectación alta en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>3- Con desviaciones menores, afectación baja en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>4- Sin desviaciones, pero con oportunidades de mejora. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>5- Sin desviaciones. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <ion-col>
    <ion-row>
     <h1 style=" margin-left: 10px;">11. Esta realizada la liberación primero según F-QM-GC.046.00.</h1>
    </ion-row>
    <h1 style="margin-left: 10px;" >Evidencia de auditoria:</h1>
    <form action="">
     <input color="light" style="margin-left: 10px; height: 150px; width: 500px;" type="text">
    </form>
  </ion-col>
  <br><br>
  <ion-item>
    <ion-label><h1> Cumple </h1></ion-label>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </ion-item>
  <br> 
  <ion-row>
    <ion-label><h1 style="margin-left: 10px;"> Nivel de Cumplimiento: </h1></ion-label>
  </ion-row>
  <br>
  <div style="margin-left: 10px;">
    <ion-label><h1>1- Sin cumplimiento, afectación crítica en calidad. </h1></ion-label>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>2- Con desviaciones mayores, afectación alta en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>3- Con desviaciones menores, afectación baja en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>4- Sin desviaciones, pero con oportunidades de mejora. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>5- Sin desviaciones. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <ion-col>
    <ion-row>
     <h1 style=" margin-left: 10px;">12. Esta realizada la lista de chequeo control de variables críticas de rebobinadora según F-QM-PC-146.05.</h1>
    </ion-row>
    <h1 style="margin-left: 10px;" >Evidencia de auditoria:</h1>
    <form action="">
     <input color="light" style="margin-left: 10px; height: 150px; width: 500px;" type="text">
    </form>
  </ion-col>
  <br><br>
  <ion-item>
    <ion-label><h1> Cumple </h1></ion-label>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </ion-item>
  <br> 
  <ion-row>
    <ion-label><h1 style="margin-left: 10px;"> Nivel de Cumplimiento: </h1></ion-label>
  </ion-row>
  <br>
  <div style="margin-left: 10px;">
    <ion-label><h1>1- Sin cumplimiento, afectación crítica en calidad. </h1></ion-label>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>2- Con desviaciones mayores, afectación alta en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>3- Con desviaciones menores, afectación baja en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>4- Sin desviaciones, pero con oportunidades de mejora. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>5- Sin desviaciones. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <br><br>

  <h1 style="margin-left: 10px;" >Observaciones Finales:</h1>
  <form action="">
   <input color="light" style="margin-left: 10px; height: 150px; width: 500px;" type="text">
  </form>
  <br><br>
  
</ion-content>
