<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"> MOLINO </ion-title>
    <ion-back-button slot="start"> Regresar </ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid  style="display: flex; justify-content: center;">
    <ion-row>
      <ion-col>
        <ion-button routerLink="/terminado" size="large" class="ion-align-self-center"> Terminado </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid  style="display: flex; justify-content: center;">
    <ion-row>
      <ion-col>
        <ion-button routerLink="/delaminacion" size="large" class="ion-align-self-center"> Formación y Delaminación </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid  style="display: flex; justify-content: center;">
    <ion-row>
      <ion-col>
        <ion-button routerLink="/despachos" size="large" class="ion-align-self-center"> Despachos </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid  style="display: flex; justify-content: center;">
    <ion-row>
      <ion-col>
        <ion-button routerLink="/embalaje" size="large" class="ion-align-self-center"> Embalaje </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid  style="display: flex; justify-content: center;">
    <ion-row>
      <ion-col>
        <ion-button routerLink="/batidores" size="large" class="ion-align-self-center"> Batidores </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid  style="display: flex; justify-content: center;">
    <ion-row>
      <ion-col>
        <ion-button routerLink="/formacion-humedad" size="large" class="ion-align-self-center"> Formación - Humedad </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid  style="display: flex; justify-content: center;">
    <ion-row>
      <ion-col>
        <ion-button routerLink="/formacion-pesobasico" size="large" class="ion-align-self-center"> Formación - Peso Básico </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
