<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"><h1> Embalaje </h1></ion-title>
    <ion-back-button slot="start"> Regresar </ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-col>
    <ion-row>
      <h1 style=" margin-left: 10px;">1. las estibas y /o listones estan en buenas condiciones (secos, tablas en buen estado) y concuerda con lo solicitado por el cliente.</h1>
    </ion-row>
    <h1 style="margin-left: 10px;" >Evidencia de auditoria:</h1>
    <form action="">
     <input  style="margin-left: 10px; height: 150px; width: 500px;" type="text">
    </form>
  </ion-col>
  <ion-col>
    <br><br>
    <ion-item>
      <ion-label><h1> Cumple </h1></ion-label>
      <form action="">
       <ion-checkbox></ion-checkbox>
      </form>
    </ion-item>
  </ion-col>

  <ion-row>
    <ion-label><h1 style="margin-left: 10px;"> Nivel de Cumplimiento: </h1></ion-label>
  </ion-row>
  <br>
  <div style="margin-left: 10px;">
    <ion-label><h1>1- Sin cumplimiento, afectación crítica en calidad. </h1></ion-label>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>2- Con desviaciones mayores, afectación alta en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>3- Con desviaciones menores, afectación baja en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>4- Sin desviaciones, pero con oportunidades de mejora. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>5- Sin desviaciones. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>

  <ion-col>
    <ion-row>
      <h1 style=" margin-left: 10px;">2. Los borde de las cintas o de los rollos están sin picaduras.</h1>
    </ion-row>
    <h1 style="margin-left: 10px;" >Evidencia de auditoria:</h1>
    <form action="">
     <input color="light" style="margin-left: 10px; height: 150px; width: 500px;" type="text">
    </form>
  </ion-col>
  <br><br>
  <ion-item>
    <ion-label><h1> Cumple </h1></ion-label>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </ion-item>
  <br> 
  <ion-row>
    <ion-label><h1 style="margin-left: 10px;"> Nivel de Cumplimiento: </h1></ion-label>
  </ion-row>
  <br>
  <div style="margin-left: 10px;">
    <ion-label><h1>1- Sin cumplimiento, afectación crítica en calidad. </h1></ion-label>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>2- Con desviaciones mayores, afectación alta en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>3- Con desviaciones menores, afectación baja en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>4- Sin desviaciones, pero con oportunidades de mejora. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>5- Sin desviaciones. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>

  <ion-col>
    <ion-row>
      <h1 style=" margin-left: 10px;">3. El embalaje es el correcto (numero de cintas o rollos) y numero de vueltas de strech,  según cliente.</h1>
    </ion-row>
    <h1 style="margin-left: 10px;" >Evidencia de auditoria:</h1>
    <form action="">
     <input color="light" style="margin-left: 10px; height: 150px; width: 500px;" type="text">
    </form>
  </ion-col>
  <br><br>
  <ion-item>
    <ion-label><h1> Cumple </h1></ion-label>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </ion-item>
  <br> 
  <ion-row>
    <ion-label><h1 style="margin-left: 10px;"> Nivel de Cumplimiento: </h1></ion-label>
  </ion-row>
  <br>
  <div style="margin-left: 10px;">
    <ion-label><h1>1- Sin cumplimiento, afectación crítica en calidad. </h1></ion-label>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>2- Con desviaciones mayores, afectación alta en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>3- Con desviaciones menores, afectación baja en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>4- Sin desviaciones, pero con oportunidades de mejora. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>5- Sin desviaciones. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>

  <ion-col>
    <ion-row>
      <h1 style=" margin-left: 10px;">4. el material lleva la proteccion correcta según cliente ( tapas, estiba, proteccion bordes etc).</h1>
    </ion-row>
    <h1 style="margin-left: 10px;" >Evidencia de auditoria:</h1>
    <form action="">
     <input color="light" style="margin-left: 10px; height: 150px; width: 500px;" type="text">
    </form>
  </ion-col>
  <br><br>
  <ion-item>
    <ion-label><h1> Cumple </h1></ion-label>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </ion-item>
  <br> 
  <ion-row>
    <ion-label><h1 style="margin-left: 10px;"> Nivel de Cumplimiento: </h1></ion-label>
  </ion-row>
  <br>
  <div style="margin-left: 10px;">
    <ion-label><h1>1- Sin cumplimiento, afectación crítica en calidad. </h1></ion-label>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>2- Con desviaciones mayores, afectación alta en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>3- Con desviaciones menores, afectación baja en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>4- Sin desviaciones, pero con oportunidades de mejora. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>5- Sin desviaciones. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <ion-col>
    <ion-row>
      <h1 style=" margin-left: 10px;">5. la etiqueta concuerda con el material (medida, cantidad, material).</h1>
    </ion-row>
    <h1 style="margin-left: 10px;" >Evidencia de auditoria:</h1>
    <form action="">
     <input color="light" style="margin-left: 10px; height: 150px; width: 500px;" type="text">
    </form>
  </ion-col>
  <br><br>
  <ion-item>
    <ion-label><h1> Cumple </h1></ion-label>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </ion-item>
  <br> 
  <ion-row>
    <ion-label><h1 style="margin-left: 10px;"> Nivel de Cumplimiento: </h1></ion-label>
  </ion-row>
  <br>
  <div style="margin-left: 10px;">
    <ion-label><h1>1- Sin cumplimiento, afectación crítica en calidad. </h1></ion-label>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>2- Con desviaciones mayores, afectación alta en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>3- Con desviaciones menores, afectación baja en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>4- Sin desviaciones, pero con oportunidades de mejora. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>5- Sin desviaciones. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <ion-col>
    <ion-row>
      <h1 style=" margin-left: 10px;">6.  Se oberva buena presentacion del paquete o rollo.</h1>
    </ion-row>
    <h1 style="margin-left: 10px;" >Evidencia de auditoria:</h1>
    <form action="">
     <input color="light" style="margin-left: 10px; height: 150px; width: 500px;" type="text">
    </form>
  </ion-col>
  <br><br>
  <ion-item>
    <ion-label><h1> Cumple </h1></ion-label>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </ion-item>
  <br> 
  <ion-row>
    <ion-label><h1 style="margin-left: 10px;"> Nivel de Cumplimiento: </h1></ion-label>
  </ion-row>
  <br>
  <div style="margin-left: 10px;">
    <ion-label><h1>1- Sin cumplimiento, afectación crítica en calidad. </h1></ion-label>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>2- Con desviaciones mayores, afectación alta en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>3- Con desviaciones menores, afectación baja en la calidad. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>4- Sin desviaciones, pero con oportunidades de mejora. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  <div style="margin-left: 10px;">
    <h1>5- Sin desviaciones. </h1>
    <br>
    <form action="">
     <ion-checkbox></ion-checkbox>
    </form>
  </div>
  
  <h1 style="margin-left: 10px;" >Observaciones Finales:</h1>
  <form action="">
   <input color="light" style="margin-left: 10px; height: 150px; width: 500px;" type="text">
  </form>
  <br><br>

</ion-content>
